.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, rgb(27, 181, 216) var(--percent), grey var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
